@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  font-family: "Open Sans", sans-serif;
}

.transacion_table thead > tr th {
  font-weight: 700;
  text-align: left;
  padding: 10px 10px;
}

.transacion_table tbody tr td {
  padding: 5px 10px;
}

.date-input-wrapper {
  position: relative;
  width: fit-content;
}

/* Style the input date field */
.date[type="date"] {
  text-align: right;
  padding-left: 9px;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  appearance: none;
  position: relative;
  z-index: 1;
  color: transparent;
}

/* Placeholder behavior: shows custom placeholder */
.date[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  left: 38px;
  color: black;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 600;
  font-size: 14px;
}

/* On focus, hide the custom placeholder and show input text */
.date[type="date"]:focus {
  color: #000;
}

/* Show the date when selected (if valid) */
.date[type="date"]:valid {
  color: #000;
}

/* Move the calendar icon to the left */
.date[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

/* Hide the default MM/DD/YYYY text in WebKit browsers */
.date[type="date"]::-webkit-datetime-edit {
  visibility: hidden;
}
